!!!
%html
	%head
		%title Wookiee
		%link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
	%body
		%div
			%div
				%h1 Page not found. Arrrgggggghhhhh
				%h2 This is not the Wookiee you were looking for. Move along